// Output/monitor configuration
// 4k monitor
output "DP-2" {
    mode "3840x2160@60.000"
    scale 1.6
    transform "normal"
    position x=0 y=0
}

output "eDP-1" {
    mode "2880x1800@90.000"
    scale 2.0
    transform "normal"
    position x=0 y=0
}
