// Startup applications

spawn-at-startup "waybar"
spawn-at-startup "swayosd-server"
spawn-at-startup "swaybg" "-i" "/home/frmhd/.config/omarchy/current/background" "-m" "fill"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "wlsunset" "-l" "41.6" "-L" "41.6" "-d" "1800" "-t" "5000"
